In [58]:
#strings
name = 'Satvika'
char = name[1]
print(name)
print(char)

Satvika
a

In [95]:
length = len(name) 
last = name[length-1]

In [4]:
#traversing using while
index = 0
while index < len(name):
    letter = name[index]
    print(letter)
    index = index + 1

S
a
t
v
i
k
a

In [8]:
#traversing using for
for letter in name:
    print()

Satvika
Satvika
Satvika
Satvika
Satvika
Satvika
Satvika

In [9]:
#string concatenation or string 
prefixes = 'ABCDEF'
suffix = 'ghi'
for letter in prefixes:
    print(letter + suffix)

Aghi
Bghi
Cghi
Dghi
Eghi
Fghi

In [10]:
#string slicing
s = 'Satvika Marrapu'
s[0:7]
s[8: 18]

'Marrapu'

In [11]:
name[:3]

'Sat'

In [12]:
#strings are immutable
greeting = 'Good Evening'
new_greeting = 'A' + greeting[1:] 
new_greeting

'Aood Evening'

In [13]:
#Searching
def find(word, letter):
    index = 0
    while index < len(word):
        if word[index] == letter:
            return index
        index = index + 1
return -1

-1

In [14]:
#looping and counting
word = 'satvika'
count = 0
for letter in word:
    if letter == 'a':
        count = count + 1
print(count)

2

In [15]:
#string methods
alpha = 'satvika'
new_alpha = alpha.upper()
print(new_alpha)
index = alpha.find('k')
print(index)

SATVIKA
5

In [17]:
#in operator
'k' in 'satvika'

True

In [24]:
def in_both(word1, word2):
    for letter in word1:
        if letter in word2:
            print(letter)
            
in_both('satvika', 'Marrapu')

a
a

In [25]:
#string comparison
def strcomp(name):
    if name == 'Satvika':
        print('Satvika is a good girl')
        
strcomp('Satvika')

Satvika is a good girl

In [26]:
def is_reverse(word1, word2):
    if len(word1) != len(word2):
        return False
        i=0
        j = len(word2)
    while j > 0:
        if word1[i] != word2[j]:
            return False
        i = i+1
        j = j-1
return True

True

In [27]:
#searching
def has_no_e(word):
    for letter in word:
        if letter == 'e':
            return False
return True

has_no_e('sathwik')

True

In [28]:
#searching cont.
def avoids(word, forbidden):
    for letter in word:
        if letter in forbidden:
            return False
return True

avoids('satvika')

True

In [29]:
#looping indices
def is_abecedarian(word):
    previous = word[0]
    for c in word:
        if c < previous:
            return False
        previous = c
    return True

is_abecedarian('United')

False

In [30]:
def is_abecedarian(word): 
    i=0
    while i < len(word)-1:
        if word[i+1] < word[i]:
            return False
        i = i+1
        return True

is_abecedarian('united')

False

In [31]:
#palindrome
def is_palindrome(word): 
    i=0
    j = len(word)-1
    while i<j:
        if word[i] != word[j]:
            return False
        i = i+1
        j = j-1
    return True

is_palindrome('racecar')

True

In [32]:
#Collections:: Lists
colors = ['blue', 'green', 'red']
flowers = ['rose', 'jasmin', 'tulip']
empty = []
print(colors,flowers,empty)

['blue', 'green', 'red'] ['rose', 'jasmin', 'tulip'] []

In [36]:
#lists are mutable
colors[1] = 'pink'
print(colors)

['blue', 'pink', 'red']

In [34]:
#in operator with lists
'rose' in flowers

True

In [37]:
#traversing lists
for i in colors:
    print(colors)for a in []:
    print('this is useless')

['blue', 'pink', 'red']
['blue', 'pink', 'red']
['blue', 'pink', 'red']

In [38]:
for a in []:
    print('this is useless')

In [39]:
#operators in lis

concat1 = colors+flowers
print(concat1)


repeat1 = colors * 4
print(repeat1)

['blue', 'pink', 'red', 'rose', 'jasmin', 'tulip']
['blue', 'pink', 'red', 'blue', 'pink', 'red', 'blue', 'pink', 'red', 'blue', 'pink', 'red']

In [40]:
#list slices
colors[0:2]

['blue', 'pink']

In [41]:
#append
colors = ['blue', 'yellow', 'red']
colors.append('green')
print(colors)

#sort
a = [3,2,1,4,5,9,7]
a.sort()
print(a)

['blue', 'yellow', 'red', 'green']
[1, 2, 3, 4, 5, 7, 9]

In [42]:
#Map, Filter and Reduce

def add_all(t):
    total = 0
    for x in t:
        total += x
    return total  

t = [20,10,33,234,836]
add_all(t)

1133

In [43]:
#Map type operation on lists
def capitalize_all(t):
    res = []
    for s in t:
        res.append(s.capitalize())
    return res

list = ['satvika','marrapu']
capitalize_all(list)

['Satvika', 'Marrapu']

In [44]:
def only_upper(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s)
    return res

x = ['HOME','CALLING']
only_upper(x)

['HOME', 'CALLING']

In [45]:
#Deleting Elements
abc = colors.pop(1)
print(colors)
print(abc)

['blue', 'red', 'green']
yellow

In [46]:
#deleting using del operator 
t = ['e', 'f', 'g']
del t[1] 
print(t)

['e', 'g']

In [48]:
#deleting using remove
t = ['e', 'f', 'g']
t.remove('g') 
print(t)

['e', 'f']

In [49]:
#deleting multiple elements
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
print(t)

['a', 'f']

In [52]:
#splitting
s = 'Galaxy is full of stars'
t = s.split()
t

['Galaxy', 'is', 'full', 'of', 'stars']

In [51]:
#splitting using delimiter
s = 'car-car-car'
delimiter = '-'
t = s.split(delimiter)
t

['car', 'car', 'car']

In [53]:
t = ['Galaxy', 'is', 'full', 'of', 'stars']
delimiter = ' '
s = delimiter.join(t)
s

'Galaxy is full of stars'

In [76]:
#objects and values
a = 'Methods'
b = 'Methods'
a is b

True

In [55]:
#Aliasing
a = ['satvika', 'marrapu']
a = b
b is a

True

In [57]:
#list arguments
def delete_head(t):
    del t[0]
    
letters = ['e', 'f', 'g']
delete_head(letters)
letters

['f', 'g']

In [61]:
#list arguments using append
t1 = [1, 2]
t2 = t1.append(3)
print(t1)
print(t2)

#using + operator
t3 = t1 + [4]
print(t1)
print(t3)

[1, 2, 3]
None
[1, 2, 3]
[1, 2, 3, 4]

In [62]:
#Dictionaries are key value pairs
eng2sp = {'one': 'uno', 'two': 'dos', 'three': 'tres'}
print(eng2sp)
print(eng2sp['two']) #prints the value assigned to key specified
print(len(eng2sp)) #prints the number of key-value pairs
print('one' in eng2sp)
vals = eng2sp.values()
'uno' in vals

{'one': 'uno', 'two': 'dos', 'three': 'tres'}
dos
3
True

True

In [63]:
#Dictionary as collection of counters
def histogram(s):
    d = dict()
    for c in s:
        if c not in d:
            d[c] = 1 
        else:
            d[c] += 1
    return d

histogram('satvikamarrapu@my.unt.edu')

{'s': 1,
 'a': 4,
 't': 2,
 'v': 1,
 'i': 1,
 'k': 1,
 'm': 2,
 'r': 2,
 'p': 1,
 'u': 3,
 '@': 1,
 'y': 1,
 '.': 2,
 'n': 1,
 'e': 1,
 'd': 1}

In [64]:
h = histogram('a')
print(h)
print(h.get('a', 0))
print(h.get('b', 0))

{'a': 1}
1
0

In [65]:
#looping through dictionaries
def print_hist(h):
    for c in h:
        print(c, h[c])
        
h = histogram('sathwikmattapally@my.unt.edu')
print_hist(h)

s 1
a 4
t 4
h 1
w 1
i 1
k 1
m 2
p 1
l 2
y 2
@ 1
. 2
u 2
n 1
e 1
d 1

In [66]:
#sorting keys in iteration
for key in sorted(h):
    print(key, h[key])

. 2
@ 1
a 4
d 1
e 1
h 1
i 1
k 1
l 2
m 2
n 1
p 1
s 1
t 4
u 2
w 1
y 2

In [67]:
def reverse_lookup(d, v):
    for k in d:
        if d[k] == v:
            return k
    raise LookupError()
    
h = histogram('sathwikmattapally@my.unt.edu')
key = reverse_lookup(h, 2)
print(key)

m

In [68]:
def invert_dict(d):
    inverse = dict()
    for key in d:
        val = d[key]
        if val not in inverse:
            inverse[val] = [key]
        else:
            inverse[val].append(key)
    return inverse

hist = histogram('sathwikmattapally@my.unt.edu')
print(hist)
inverse = invert_dict(hist)
print(inverse)

{'s': 1, 'a': 4, 't': 4, 'h': 1, 'w': 1, 'i': 1, 'k': 1, 'm': 2, 'p': 1, 'l': 2, 'y': 2, '@': 1, '.': 2, 'u': 2, 'n': 1, 'e': 1, 'd': 1}
{1: ['s', 'h', 'w', 'i', 'k', 'p', '@', 'n', 'e', 'd'], 4: ['a', 't'], 2: ['m', 'l', 'y', '.', 'u']}

In [69]:
verbose = True
def example1():
    if verbose:
        print('Running')

example1()

Running

In [70]:
been_called = False
def example2():
    global been_called
    been_called = True
    
example2()

In [71]:
t = 'a', 'b', 'c', 'd', 'e'
print(t)

t1 = ('a', 'b', 'c', 'd', 'e')
print(t1)

t2 = ('a') #value in paranthesis is not a tuple
print(type(t2))

t3 = tuple() #tuple() is a built in function which creates a tuple, with no argument it creates an empty tuple
print(t3)

('a', 'b', 'c', 'd', 'e')
('a', 'b', 'c', 'd', 'e')
<class 'str'>
()

In [72]:
t = ('a', 'b', 'c', 'd', 'e')
print(t[0])

#slicing in tuple
print(t[1:3])

a
('b', 'c')

In [73]:
#tuple is immutable, but can replace one element with another
t = ('A',) + t[1:]
t

('A', 'b', 'c', 'd', 'e')

In [74]:
(0, 1, 2) < (0, 3, 4)

True

In [77]:
temp = a
a = b
b = temp
print(temp)
a, b = b, a
print(a)

Methods
Methods

In [79]:
t = divmod(16, 4)
print(t)
quot, rem = divmod(8, 4)
print(quot)
print(rem)

(4, 0)
2
0

In [82]:
#variable length argument tuples
def printall(*args):
    print(args)

printall('satvika','marrapu')

('satvika', 'marrapu')

In [83]:
max(10, 20, 30)

30

In [86]:
s = 'efg'
t = [0, 1, 2]
zip(s, t)

In [87]:
for pair in zip(s, t):
    print(pair)

('e', 0)
('f', 1)
('g', 2)

In [88]:
t = [('a', 0), ('b', 1), ('c', 2)]
for letter, number in t:
    print(number, letter)

0 a
1 b
2 c

In [89]:
def has_match(t1, t2):
    for x, y in zip(t1, t2):
        if x == y:
            return True
return False

has_match(t1,t2)

False

In [90]:
for index, element in enumerate('abc'):
    print(index, element)

0 a
1 b
2 c

In [91]:
d = {'a':0, 'b':1, 'c':2}
t = d.items()
t

dict_items([('a', 0), ('b', 1), ('c', 2)])

In [92]:
for key, value in d.items():
    print(key, value)

a 0
b 1
c 2