# Class work 3: Text Classification on IMDB review samples

## Data loading

**Question 1: (10 points)**

Go to [this link](https://unt.instructure.com/courses/12025/files/2443720/download?download_frd=1) to download the data file and upload it to Google Colab. And then run the following commands:

In [0]:
import pickle

In [0]:
with open('imdb-review.pickle', 'rb') as f:
    train, test = pickle.load(f)

In [39]:
train.head()

                                                text  sentiment
0  For a movie that gets no respect there sure ar...          1
1  Bizarre horror movie filled with famous faces ...          1
2  A solid, if unremarkable film. Matthau, as Ein...          1
3  It's a strange feeling to sit alone in a theat...          1
4  You probably all already know this by now, but...          1

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-22-19-073406.png)

## sampling

**Question 2: (10 points)**

Sample **2000** rows from original training set. 1000 positive, 1000 negative. To keep all your result identical, please use **`random_state=1`** while sampling. Reset the index of generated data frame, and save it to **`train`**. (Hint: you can refer to[ this document](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html).)

In [0]:
import pandas as pd
df=pd.concat([train[train.sentiment==1].sample(1000,random_state=1),train[train.sentiment==0].sample(1000,random_state=1)])

In [0]:
train =df.reset_index(drop = True)

In [31]:
train.head()

                                                text  sentiment
0  I have watched this episode more often than an...          1
1  As many reviewers here have noted, the film ve...          1
2  At first,this movie seems so bad that i almost...          1
3  Was this based on a comic-book? A video-game? ...          1
4  Melissa Joan Hart shines! This show is amazing...          1

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-22-32-893523.png)

In [32]:
train.tail()

                                                   text  sentiment
1995  Is rich, ailing Elizabeth Taylor courting the ...          0
1996  The movie itself is not too bad; many comments...          0
1997  I feel much less generous with this film than ...          0
1998  It SURPRISINGLY had a plot! ;) I've seen movie...          0
1999  This movie could have been 15 minutes long if ...          0

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-22-52-059518.png)

**Question 3: (10 points)**

Sample **1000** rows from original test set. 500 positive, 500 negative. To keep all your result identical, please use **`random_state=1`** while sampling. Reset the index of generated data frame, and save it to **`test`**. (Hint: you can refer to[ this document](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html).)

In [0]:
import pandas as pd
df=pd.concat([train[train.sentiment==1].sample(500,random_state=1),train[train.sentiment==0].sample(500,random_state=1)])
test =df.reset_index(drop = True)

In [46]:
test.head()

                                                text  sentiment
0  I have watched this episode more often than an...          1
1  As many reviewers here have noted, the film ve...          1
2  At first,this movie seems so bad that i almost...          1
3  Was this based on a comic-book? A video-game? ...          1
4  Melissa Joan Hart shines! This show is amazing...          1

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-23-06-418103.png)

In [42]:
test.tail()

                                                  text  sentiment
995  I recently saw this at the 2009 Palm Springs I...          0
996  This is one of those films that I remember bei...          0
997  Okay... it seems like so far, only the Barman ...          0
998  Well, what can you say about sitcoms. There of...          0
999  This really doesn't do the blues justice. It s...          0

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-23-16-486933.png)

## Classification with TextBlob

**Question 4: (30 points)**

Use [textblob](https://textblob.readthedocs.io/en/dev/quickstart.html#sentiment-analysis) to do sentiment analysis on **test** data, and make a **`classification_report`** using the prediction result and real sentiment labels. (Hint: you can refer to [this link](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html) for documentation.)

In [0]:
# Todo: your code here

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-23-27-649327.png)

## Classification with Scikit-learn

**Question 5: (40 points)**

Train a [MultinomialNB Model](https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.MultinomialNB.html) from Scikit-learn with the **train** data. Make sure you convert the text data into high dimensional (2000) vectors with [CountVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html), and using proper parameters to filter the tokens. Then do sentiment analysis on **test** data, and make a **`classification_report`** using the prediction result and real sentiment labels. (Hint: you can refer to [this link](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html) for documentation.)

In [0]:
# Todo: your code here

You should see the output like this:

![](https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-03-25-21-23-45-528500.png)